/* ===== CONTENEDOR GENERAL INTERNO ===== */
.containerAllRequestUsers {
  width: 100%;
  background-color: #000000;
  color: #f5e9c9;
  padding: 1.5rem;
  border-radius: 15px;
  border: 3px double #fffd74;
  box-shadow: inset 0 0 10px rgba(212, 163, 56, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

/* ===== TÍTULO ===== */
.titleUsersRequestContainer {
  text-align: center;
  margin-bottom: 1rem;
}

.titleUsersRequest {
  width: 70%;
  background-color: #000000;
  color: #ffbf36;
  font-size: 1.7rem;
  margin-left: -10%;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px double #fffd74;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.titleUsersRequest:hover {
  background-color: #111111;
  color: #ffdb70;
  border-color: rgb(255, 217, 0);
}

/* ===== container users prnc ===== */
.containerAdminUsers {
  width: 100%;
  background-color: #111111;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 1.5rem;
  box-sizing: border-box;
}

/* ===== LISTA DE USUARIOS ===== */
.AdminUlUsers {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  margin: 0;
  padding: 0;
}

/* ===== CARD INDIVIDUAL ===== */
.AdminLiUsers {
  background-color: #000000;
  border: 1px double #fffd74;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.AdminLiUsers:hover {
  box-shadow: 0 0 12px rgba(255, 174, 0, 0.74);
  transform: translateY(-3px);
}

/* ===== DATOS DEL USUARIO ===== */
.UsernameAdminPage {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffc525;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgb(255, 235, 124);
  padding-bottom: 4px;
}

.infoUserAdminPage {
  font-size: 1.1rem;
  color: #fff7df;
  line-height: 1.5;
}

/* ===== BOTÓN ELIMINAR ===== */
.AdminLiUsers button {
  margin-top: 0.6rem;
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  background-color: #3a2c17;
  color: #f5e9c9;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.AdminLiUsers button:hover {
  background-color: #d4a338;
  color: #000;
}

/* ===== CONTENEDOR DEL GRÁFICO ===== */
.containerChartUsers {
  width: 100%;
  background-color: #000000;
  border: 1px double #fffd74;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(252, 255, 76, 0.514);
  box-sizing: border-box;
}

/* ===== RESPONSIVO ===== */
@media (max-width: 768px) {
  .titleUsersRequest h3 {
    font-size: 1.2rem;
    padding: 8px 20px;
  }

  .AdminUlUsers {
    grid-template-columns: 1fr;
  }
}
