/* ===== CONTENEDOR GENERAL ===== */
.containerAllRequestBooks {
  width: 100%;
  background-color: #000000;
  color: #f5e9c9;
  padding: 1.5rem;
  border-radius: 15px;
  border: 3px double #fffd74;
  box-shadow: inset 0 0 10px rgba(212, 163, 56, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

/* ===== TÍTULO ===== */
.titleBooksRequestContainer {
  text-align: center;  
}

.titleBooksRequest {
  width: 70%;
  background-color: #000000;
  color: #ffbf36;
  font-size: 1.7rem;
  margin-left: -10%;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px double #fffd74;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  margin-top: 27px;
}

.titleBooksRequest:hover {
  background-color: #111111;
  color: #ffdb70;
  border-color: rgb(255, 217, 0);
}

/* ===== CONTENEDOR PRINCIPAL LIBROS ===== */
.containerAdminBooks {
  width: 100%;
  background-color: #111111;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

/* ===== LISTA ===== */
.AdminUlBooks {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  margin: 0;
  padding: 0;
}

/* ===== CARD INDIVIDUAL ===== */
.AdminLiBooks {
  background-color: #000000;
  border: 1px double #fffd74;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  color: #f5e9c9;
}

.AdminLiBooks:hover {
  box-shadow: 0 0 12px rgba(255, 174, 0, 0.74);
  transform: translateY(-3px);
}

/* ===== TÍTULO DEL LIBRO ===== */
.titleBookAdmin {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffda74;
  border-bottom: 1px solid rgb(255, 235, 124);
  margin-bottom: 0.5rem;
  padding-bottom: 4px;
}

/* ===== INFO DEL LIBRO ===== */
.infoAdminBook {
  display: block;
  font-size: 1.1rem;
  color: #fff7df;
  line-height: 1.5;
  margin-bottom: 3px;
}



.btnDeleteAdminBook {
  margin: 5px;
  font-size: 12px;
  padding: 8px 11px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ;
  background: #9e1010;
  border: 1px solid #eeff00;
  color: #fff;
  transition: background 0.2s, color 0.3s;;
}

.btnDeleteAdminBook:hover {
  background: #e00707;
  border-color: rgba(255, 0, 0, 0.801);
}

.btnEditAdminBook{
  margin: 5px;
  font-size: 12px;
  padding: 8px 11px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ;
  background: #158f52c5;
  border: 1px solid #ffe600;
  color: #fff;
  transition: background 0.2s, color 0.3s;
}
.btnEditAdminBook:hover{
  background: #00b377d2;
  border-color: rgba(0, 180, 126, 0.801);
}

.containerInputsEdit{
  gap: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.inpEditBook{
  background-color: #fff3b7;
  border: 2px solid rgb(251, 255, 0);
  border-radius: 5px;
  color: #111111;
}
.inpEditBook:hover{
  background-color: #fbffe7;
  border: 2px solid rgb(255, 255, 255)
}


/* ===== CHARTS ===== */
.containerBooksChart {
  width: 100%;
  background-color: #000000;
  border: 1px double #fffd74;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(252, 255, 76, 0.514);
  box-sizing: border-box;
  margin-bottom: 1.5rem;
}

.containerComparativeBooksChart{
  width: 45%;
  background-color: #000000;
  border: 1px double #fffd74;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(252, 255, 76, 0.514);
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  margin: 0 auto;
}

/* ===== RESPONSIVO ===== */
@media (max-width: 768px) {
  .titleBooksRequest h5 {
    font-size: 1.2rem;
    padding: 8px 18px;
  }

  .AdminUlBooks {
    grid-template-columns: 1fr;
  }
}
