.NavAdminSelect {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.UlAdminSelect {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.UlAdminSelect li {
  cursor: pointer;
  
  font-size: 18px;
  font-weight: 500;
  color: #fcff3a;
  transition: all 0.3s ease;
  padding: 10px 20px;
  border-radius: 8px;
  background: rgb(31, 31, 31);
  
}

.UlAdminSelect li:hover {
  color: #fbff00fd;
  background: rgba(75, 75, 75, 0.767);
  box-shadow: 0 0 10px #efff15;
}

.active-change{
  font-weight: bold;
  box-shadow: 0 0 10px #efff15;
  letter-spacing: 1px;

}   
