/* ======== Card Admin All ======== */
.containerAdminAllCard {
  background: linear-gradient(145deg, #222222, #222222);
  color: #f5d97a; /* dorado suave */
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(255, 217, 0, 0.08);
  width: 77%;
  max-width: 1000px;
  margin: 3rem auto;
  transition: all 0.3s ease;
  border: 1px solid rgba(212, 163, 56, 0.3);
}

/* ======== title ======== */
.AdminCardTItleContainer {
width: 100%;
  text-align: center;
  margin: 21px auto 45px auto;
}

.AdminCardTitle {
  width: 95%;
  padding: 18px 32px;
  margin: 0 auto;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #000000;
  background: linear-gradient(115deg, #000000 0%, #aa840870 50%, #000000 100%);
  border: 5px double #fffd74;
  border-radius: 25px 25px 0 0;
  box-sizing: border-box;
  text-shadow: 3px 3px 8px rgb(255, 249, 171);
  box-shadow: 6px 6px 18px rgb(0, 0, 0),
              inset 3px 3px 14px rgba(0, 0, 0, 0.945);
}

/* ======== nav select ======== */
.NavAdminSelect {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.UlAdminSelect {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.UlAdminSelect li {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffda62;
  background: linear-gradient(145deg, #0f0f0f, #1f1a14);
  border: 1px solid rgba(212, 163, 56, 0.3);
  padding: 10px 25px;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 8px rgba(255, 215, 0, 0.05);
}

.UlAdminSelect li:hover {
  background: linear-gradient(145deg, #111111, #242424);
  color: #cccccc;
  box-shadow: 0 0 12px rgba(88, 88, 88, 0.616);
  transform: translateY(-3px);
}

/* cuestion */ 
.active-change {
  background: linear-gradient(145deg, #111111, #242424);
  color: #cccccc;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

/* ======== soft animation ======== */
@keyframes glowPulse {
  0% {
    box-shadow: 0 0 8px rgba(255, 215, 0, 0.2);
  }
  50% {
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.4);
  }
  100% {
    box-shadow: 0 0 8px rgba(255, 215, 0, 0.2);
  }
}

.active-change {
  animation: glowPulse 2s infinite ease-in-out;
}

/* ======== responsive ======== */
@media (max-width: 768px) {
  .containerAdminAllCard {
    padding: 1.5rem;
  }

  .AdminCardTitle {
    font-size: 1.6rem;
  }

  .UlAdminSelect li {
    font-size: 1rem;
    padding: 8px 18px;
  }
}
