/*title container y text*/
.containerTitleHome{
  width: 100%;
  text-align: center;
  margin: 21px auto 45px auto;
}
.TitleHome{
  width: 75%;
  margin: 0 auto;
  padding: 18px 32px;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #000000;
  background: linear-gradient(115deg, #000000 0%, #aa840870 50%, #000000 100%);
  border: 5px double #fffd74;
  border-radius: 25px 25px 0 0;
  box-sizing: border-box;
  text-shadow: 3px 3px 8px rgb(255, 249, 171);
  box-shadow: 6px 6px 18px rgb(0, 0, 0),
              inset 3px 3px 14px rgba(0, 0, 0, 0.945);
}

.containerDescPagWeb{
  width: 88%;
  text-align: center;
  margin: 21px auto 21px auto;
}
.DescPagWeb{
  width: 90%;
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px;
  background: #000000;
  border: 5px double #e6e7a0;
  box-shadow: 4px 4px 12px rgba(248, 217, 170, 0.45);
  color: #e6e7a0;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 7px;
  text-align: center;
  transition: transform 0.1s ease, box-shadow 0.3s ease;
}
.DescPagWeb:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.55);
}




/* Contenedor general del Home */
.AllContainerHome {
  width: 71%;
  max-width: 1000px;
  margin: 40px auto;
  padding: 22px;
  background: #000000;   
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
  border: 4px solid #000000;
  margin-top: 25px;
}

/* Lista de libros en columna */
.UlHome {
display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 35px;
  list-style: none;
  padding: 0;
  width: 100%;
  gap: 35px;
}

/* Card de libro */
.LiHome {
 display: flex;                  
  flex-direction: row;            /* imagen a la izquierda, contenido a la derecha */
  align-items: center;
  align-items: center;
  width: 90%;
  max-width: 700px;
  background: #000000;
  border: 5px double #e6e7a0;
  border-radius: 12px;
   overflow: hidden;
  text-shadow: 3px 3px 8px rgb(24, 24, 24);
    box-shadow: 0 4px 15px rgba(252, 255, 87, 0.61),
              inset 3px 3px 14px rgb(53, 53, 53);
  padding: 10px;
  gap: 25px;    
  color: rgb(255, 246, 124);   
  font-size:110%; 
  font-family: 'Times New Roman', Times, serif;  
}
.LiHome:hover{
  color: rgb(255, 246, 124);
  background: #000000;
  box-shadow: 0 4px 15px rgba(254, 255, 204, 0.925);
  transform: translateY(-2px);
}


.containerImgHomeBook{
  margin: 5%;

}
/* Imagen del libro */
.ImgofBookHome {
  width: 160px;                   
  height: 240px;
  padding: 15px;
  object-fit: cover;              
  border-radius: 8px;
  background-color: rgb(0, 0, 0);
  border: double, 3px, rgba(243, 255, 140, 0.973); 
  box-shadow: 0 2px 6px 2px rgb(243, 255, 140);
}


/* Etiquetas (Name, Author, Category) */
.containerBookInfoHome strong{
    display: block;
  font-family: Georgia, serif;
  color: #eef7a1;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.BookInfoHome {
  display: block;
  font-weight: bold;
  margin: 5px 0 2px 0;
}

.LiHome {
  
  line-height: 1.5;

}
