.TitleCardFront{
    margin: 50px;
    border-color: rgba(0, 2, 35, 0.648);
    box-shadow: 5px 5px 15px rgba(59, 0, 152, 0.984);
    color: rgba(0, 0, 0, 0.932);
    background-color: rgb(190, 231, 250);
    text-shadow: 2px 2px 4px rgba(23, 3, 243, 0.783);
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
    justify-content: center;
    font-size: 19px;
    
}
.SubtitleCardFront{
   position: relative; left: 35px;
}
.containerFront{
display: flex;
position: relative; left:32%;
flex-direction: column;
gap: 3px;
height: auto;   
padding: 25px;
margin: 60px;
width: 18%;
background-color: #fff;
border: 1px solid #000000;
box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.984);
}

