.containerTitleHome{
     width: 100%;
  text-align: center;
  margin: 50px auto 35px auto;
}
.TitleHome{
  display: block;
  padding: 18px 32px;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fdf5d1;
  background: linear-gradient(145deg, #3e1f0a 0%, #4b470dfa 50%, #3e1f0a 100%);
  border: 6px groove #383b01;
  border-radius: 14px;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.9);
  box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.85),
              inset 3px 3px 14px rgba(0, 0, 0, 0.6);
}

.containerDescPagWeb{
  width: 88%;
  text-align: center;
  margin: 50px auto 35px auto;
}
.DescPagWeb{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 30px;
    background: #0d0d0d;
   border: 5px groove #cccf01;
  box-shadow: 4px 4px 12px rgba(248, 217, 170, 0.45);
  color: #ffee98;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 7px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.DescPagWeb:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.55);
}




/* Contenedor general del Home */
.AllContainerHome {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  background: #3a1904;   
  border-radius: 14px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.2);
  border: 4px solid #000000;
}

/* Lista de libros en columna */
.UlHome {
display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 25px;
  list-style: none;
  padding: 0;
  width: 100%;
}

/* Card de libro */
.LiHome {
 display: flex;                  
  flex-direction: row;            /* imagen a la izquierda, contenido a la derecha */
  align-items: center;
  align-items: center;
  width: 60%;
  max-width: 700px;
  background: linear-gradient(145deg, #000000 0%, #3e1f0a 50%, #000000 100%);
  border: 6px double rgb(230, 255, 89);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgb(0, 0, 0);
  padding: 10px;
  gap: 10px;    
  color: rgb(238, 220, 220);    
  font-size:120%; 
  font-family: 'Times New Roman', Times, serif;  
}


.containerImgHomeBook{
  margin: 5%;

}
/* Imagen del libro */
.ImgofBookHome {
  width: 160px;                   
  height: 240px;
  padding: 15px;
  object-fit: cover;              
  border-radius: 8px;
  background-color: black;
  border: groove, 5px, rgba(0, 0, 0, 0.973); 
  box-shadow: 0 2px 6px 2px rgb(236, 255, 66);
}


/* Etiquetas (Name, Author, Category) */
.containerBookInfoHome strong{
    display: block;
  font-family: Georgia, serif;
  color: #eef7a1;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.BookInfoHome {
  display: block;
  font-weight: bold;

  color: #333;
  margin: 5px 0 2px 0;
}

.LiHome {
  
  line-height: 1.5;

}
