.TitleContactUs{
 width: 95%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: 17px;
    padding: 15px;
  
    background-color: #8B4513;
    border: 7px ridge rgba(200, 60, 0, 0.984);
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.984);
    justify-content: center;
    align-items: center;    
    
    display: grid;           
    flex-wrap: wrap;                /* Wrap: ayuda al ajuste de elementos en múltiples líneas */
    justify-content: center;              
    align-items: center;                            /* verticalmente */
    
}
.ContainerContactUs{     
     border-style: ridge;
      color: #FAF3E0;
      border-style: groove;
      margin: 15px auto;
      padding: 10px;
      border-width: 10px;
      border-color: #393838;
      background-color: #8B4513;
      display: grid;
      justify-content: center;
      box-shadow: inset 5px 5px 15px rgba(49, 1, 1, 0.774);
        list-style: none;
        display: grid;           
        flex-wrap: wrap;                /* Wrap: ayuda al ajuste de elementos en múltiples líneas */
        justify-content: center;              
        align-items: center;                            /* verticalmente */
        width: 88%;                        /* Hace que se ajuste al ancho de la pantalla */
      

}
.ContainerData{      
      height: auto;
      padding: 35px;
      margin: 45px;
      background-color: #070a00;
      border-color: rgba(255, 230, 0, 0.858);
      font-size: 14px;
      box-shadow: 5px 5px 15px rgba(248, 217, 170, 0.763);
      
      color: rgb(234, 250, 161);
      display: flex;           
      flex-direction: column;
      align-items: center;                            /* verticalmente */
      width: 77%;    
      position: relative; right: 35px;
      border-radius: 15px;
  
}
.ContainerDataPag{      
    height: auto;
    padding: 35px;
   
    background-color: #070a00;
    border-color: rgba(255, 230, 0, 0.858);

    box-shadow: 5px 5px 15px rgba(248, 217, 170, 0.763);
    
    color: rgb(234, 250, 161);
    display: grid;           
    align-items: center;                            /* verticalmente */
    width: 80%;    
    position: relative; left: 42px;
    flex-wrap: wrap;                /* Wrap: ayuda al ajuste de elementos en múltiples líneas */
    align-items: center;  
  
}