.TitleForm{
    display: block;
  padding: 18px 32px;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fdf5d1;
  background: linear-gradient(145deg, #3e1f0a 0%, #4b470dfa 50%, #3e1f0a 100%);
  border: 6px groove #383b01;
  border-radius: 14px;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.9);
  box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.85),
              inset 3px 3px 14px rgba(0, 0, 0, 0.6);
             
}
.container-TitleForm{
  width: 100%;
  text-align: center;
  margin: 50px auto 35px auto;
}

.ContainerFormBooks{
    width: 80%;
    
    color: #FAF3E0;
    border-style: groove;
    margin: 1% auto;
    padding: 5%;
    border-width: 6px;
    border-color: #393838;
    background: linear-gradient(145deg, #000000 0%, #5f2702f1 50%, #000000 100%);
    display: grid;
    justify-content: center;
    box-shadow:  5px 5px 15px rgba(49, 1, 1, 0.774);

    

}
.BTNPost{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #faf88c;
    background-color: rgb(27, 27, 27);
    border-color: rgb(194, 255, 27);
    border-width: 3px;
    margin: 5px auto;
    padding: 4px;
    border-radius: 15px;
    display: grid;           
    flex-wrap: wrap;                /* Wrap: ayuda al ajuste de elementos en múltiples líneas */
    justify-content: center;              
    align-items: center;                            /* verticalmente */
    width: 35%;     
}
.BTNPost:hover{
    color: rgba(204, 204, 204, 0.87);
    border-color: rgb(214, 231, 173);
    background-color: rgb(30, 29, 29);
}


.containerFB-LI{
    margin: 7px;
    text-align: center;
}

.lbForm-Book{
font-size: 120%;
margin: 10%, auto ;
}
.inpForm-Book{
margin: 4%;
width: 70%;
background-color: rgba(245, 245, 150, 0.897);
}