.TitleForm{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 18px 32px;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fdf5d1;
  background: linear-gradient(115deg, #000000 0%, #aa840870 50%, #000000 100%);
  width: 85%;
  color: #000000;
  border: 5px double #fffd74;
  border-radius: 25px 25px 0 0;
   text-shadow: 3px 3px 8px rgb(255, 249, 171);
  box-shadow: 6px 6px 18px rgb(0, 0, 0),
              inset 3px 3px 14px rgba(0, 0, 0, 0.945);

             
}
.container-TitleForm{
  width: 100%;
  text-align: center;
  margin: 50px auto 35px auto;
}

.ContainerFormBooks{
    width: 50%;
    margin: 1% auto;
    padding: 5%;
    background: #000000;
    border: 5px double #e6e7a0;
    color: #e6e7a0;
    display: grid;
    justify-content: center;
    box-shadow:  5px 5px 15px rgba(49, 1, 1, 0.774);

    

}
.BTNPost{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fffeb5;
    background-color: rgb(27, 27, 27);
    border-color: rgb(199, 240, 87);
    border-width: 3px;
    margin: 5px auto;
    padding: 4px;
    border-radius: 15px;
    display: grid;           
    flex-wrap: wrap;                /* Wrap: ayuda al ajuste de elementos en múltiples líneas */
    justify-content: center;              
    align-items: center;                            /* verticalmente */
    width: 35%;     
}
.BTNPost:hover{
    color: rgb(255, 238, 0);
    border-color: rgb(185, 185, 185);
    background-color: rgb(20, 20, 20);
}


.containerFB-LI{
    margin: 11px;
    text-align: center;
}

.lbForm-Book{
font-size: 120%;
margin: 10%, auto ;
}
.inpForm-Book{
margin: 4%;
width: 70%;
background-color: rgba(245, 245, 150, 0.897);
}