.TitleForm{
    width: 96%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: 27px;
    padding: 15px;
  
    background-color: #8B4513;
    border: 7px ridge rgba(200, 60, 0, 0.984);
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.984);
    display: grid;
    justify-content: center;
    align-items: center;                            /* verticalmente */

}
.ContainerFormBooks{
    width: 50%;
    color: #FAF3E0;
    border-style: groove;
    margin: 35px auto;
    padding: 45px;
    border-width: 6px;
    border-color: #393838;
    background-color: #8B4513;
    display: grid;
    justify-content: center;
    box-shadow:  5px 5px 15px rgba(49, 1, 1, 0.774);

    

}
.BTNPost{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #d7e8e0;
    background-color: rgb(27, 27, 27);
    border-color: rgb(73, 67, 67);
    border-width: 3px;
    margin: 5px auto;
    padding: 4px;
    border-radius: 15px;
    display: grid;           
    flex-wrap: wrap;                /* Wrap: ayuda al ajuste de elementos en múltiples líneas */
    justify-content: center;              
    align-items: center;                            /* verticalmente */
    width: 20%;     
}
.BTNPost:hover{
    color: rgb(208, 255, 19);
    border-color: rgb(108, 108, 108);
    background-color: rgb(30, 29, 29);
}
.inpFormB{
    margin: 7px;
    text-align: center;
}

