.TitleForm{
    width: 90%;
    background-color: rgb(190, 231, 250);
    color: rgba(0, 0, 0, 0.751);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 15px;
    text-shadow: 2px 2px 4px rgba(23, 3, 243, 0.783);
    display: grid;
    justify-content: center;
    position: relative; left:55px;
    box-shadow: 5px 5px 15px rgba(59, 0, 152, 0.984);

}
.ContainerFormBooks{
    width: 60%;
    border-style: groove;
    border-color: #03011bc9;
    color: rgb(0, 0, 0);
    background-color: rgba(192, 241, 250, 0.861);
    border-width: 10px;
    padding: 15px;
    margin: 25px;
    display: grid;
    justify-content: center;
    position: relative; left: 17%;
    box-shadow: inset 5px 5px 15px rgb(1, 8, 72);
    transform-box: ;
    

}
.BTNPost{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(193, 218, 219);
    background-color: rgb(7, 74, 134);
    border-color: rgb(8, 7, 66);
 
    position: relative; left: 69px;

}
.BTNPost:hover{
    color: rgb(235, 255, 11);
    background-color: rgb(49, 3, 95);
}
.inpFormB{
    margin: 7px;
    text-align: center;
}

