.titleContainer{
    width: 95%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: 27px;
    padding: 15px;
  
    background-color: #8B4513;
    border: 7px ridge rgba(200, 60, 0, 0.984);
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.984);
    display: grid;
    justify-content: center;
    align-items: center;        
    flex-wrap: wrap;                /* Wrap: ayuda al ajuste de elementos en múltiples líneas */
    justify-content: center;              
    align-items: center;                            /* verticalmente */
    
    
}

.FullContainer{
    width: 80%;
     

    border-style: ridge;

      color: #FAF3E0;
      border-style: groove;
      margin: 25px auto;
      padding: 25px;
      border-width: 7px;
      border-color: #393838;
      background-color: #8B4513;
      display: grid;
      justify-content: center;
      box-shadow: inset 5px 5px 15px rgba(49, 1, 1, 0.774);
    
        list-style: none;

        display: grid;           
        flex-wrap: wrap;                /* Wrap: ayuda al ajuste de elementos en múltiples líneas */
        justify-content: center;              
        align-items: center;                            /* verticalmente */
                
      
        
}
.container-Favorite-Book{      
    height: auto;
    padding: 35px;
    margin: 45px;
    background-color: #070a00;
    border-color: rgba(255, 230, 0, 0.858);

    box-shadow: 5px 5px 15px rgba(248, 217, 170, 0.763);
    
    color: rgb(234, 250, 161);
    display: flex;           
    flex-direction: column;
    align-items: center;                            /* verticalmente */
    width: 77%;    
    position: relative; right: 45px;
    border-radius: 15px;   
      
  }

.btn{
    margin: 10px;
    }   
    .lblCheckbox{
        display: inline-block;
        width: 55px;
        height: 30px;
        background-color: #aaa;
        border-radius: 100px;
        position: relative;
        cursor: pointer;
    }
    #btnCheckbox:checked~.lblCheckbox {
        background-color: rgb(18, 120, 145);
    }
    
    
    .lblCheckbox:after{
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    border-radius: 100px;
    top: 4px;
    left: 5px;  
    transition: 0.3s;
    }
    #btnCheckbox:checked~.lblCheckbox:after {
        left: 28px;
    }
    .btnCheckbox{
        position: relative;
        left: 25px;
        opacity: 0.1;    
        z-index: 1;
        bottom: 10px;
    }
    
    