/* Contenedor general */
.AllContainer {
  width: 72%;
  margin: 0 auto;
  padding: 20px;
  background: #000000;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
}

/* Contenedor del título */
.TitleNewsBooks {
  width: 100%;
  text-align: center;
  margin: 21px auto 45px auto;
}

/* Texto del título */
.titleNewBk {
  width: 75%;
  padding: 18px 32px;
  margin: 0 auto;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #000000;
  background: linear-gradient(115deg, #000000 0%, #aa840870 50%, #000000 100%);
  border: 5px double #fffd74;
  border-radius: 25px 25px 0 0;
  box-sizing: border-box;
  text-shadow: 3px 3px 8px rgb(255, 249, 171);
  box-shadow: 6px 6px 18px rgb(0, 0, 0),
              inset 3px 3px 14px rgba(0, 0, 0, 0.945);
}


/* Buscador */
.searchAllDiv {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.barraSearch {
  width: 55%;
  padding: 10px;
   margin-top: 11px;
  border: 2px solid #000000;
  border-radius: 8px;
  background: #fff9cc;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000000;
  transition: 0.3s;
}

.barraSearch:focus {
  border-color: #e0ff2e;
  outline: none;
  box-shadow: inset 0 0 8px rgb(0, 0, 0);
}

.BTNSearch {
  margin-top: 8px;
  background: #000000;
  color: #fff9a8;
  border: 2px solid rgb(255, 255, 121);
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.BTNSearch:hover {
  background: #303030;
  color: rgb(251, 255, 0);
  border-color: #fffb00;
}

/* Grid de libros */
/* Contenedor vertical de cards */
.UlBook {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  margin-top: 25px;
  list-style: none;
  padding: 0;
  width: 100%;
  
}

/* Card de libro */
.LiBook {
  display: flex;                  
  flex-direction: row;            /* imagen a la izquierda, contenido a la derecha */
  align-items: flex-start;
  width: 90%;
  max-width: 700px;
  background: #000000;
  border: 5px double #e6e7a0;
  border-radius: 12px;
  overflow: hidden;
  text-shadow: 3px 3px 8px rgb(24, 24, 24);
    box-shadow: 0 4px 15px rgba(252, 255, 87, 0.61),
              inset 3px 3px 14px rgb(53, 53, 53);
  padding: 20px;
  gap: 10px;    
  color: rgb(255, 246, 124);  
  
  font-size:110%;       
  font-family: 'Times New Roman', Times, serif;        
}

/* Imagen del libro */
.containerImg{  
margin: 5%;
margin-top: 13%;

}
.BookImg {
  width: 200px;                   
  height: 280px;
  padding: 15px;
  object-fit: cover;              
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
  border: double, 3px, rgba(243, 255, 140, 0.973); 
  box-shadow: 0 2px 6px 2px rgb(243, 255, 140);
}


/* Contenido del libro (vertical) */
.BookContent {
  display: flex;
  flex-direction: column;         /* esto hace que los elementos se apilen verticalmente */
  justify-content: flex-start;    /* alineación desde arriba */
  flex: 1;                        
  gap: 10px;                     
}
/*InfoPropOfBook*/
.BookContent strong {
  display: block;
  font-family: Georgia, serif;
  color: #fffbd8;
  font-size: 16px;
  text-shadow: 1px 1px 2px rgb(255, 251, 0);
}



/* Contenido !!!!!!!!!*****  DUDA  *****!!!!!!!!!!!! */
.containerBook strong.BookInfo {
  display: block;
  margin-top: 10px;
  font-family: Georgia, serif;
  font-size: 15px;
  color: #ffffff;
}

.containerBook {
  padding: 15px;
  font-family: Georgia, 'Times New Roman', serif;
  color: #2c2c2c;
  font-size: 14px;
}



/* Botones */
.btnDelete,
.btnEdit,
.confirmEdit {
  padding: 8px 14px;
  border-radius: 6px;
  border: 2px solid #3e2b23;
  font-weight: bold;
  cursor: pointer;
  font-family: Georgia, serif;
  font-size: 13px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: background 0.3s, color 0.3s;
}

/* Delete */
.btnDelete {
  background: #9e1010;
  color: #fff;
}
.btnDelete:hover {
  background: #b80c0c;
}

/* Edit */
.btnEdit {
  background: #2f5555;
  color: #fff;
  margin: 5%;
}
.btnEdit:hover {
  background: #6d6868;
}

/* Complete edit */
.confirmEdit {
  width: 90%;
  background: #148852;
  color: #fff;
}
.confirmEdit:hover {
  background: #087269;
}
/* Inputs */
.spaceEdit {
  width: 80%;
  border: 2px solid #444443;
  border-radius: 6px;
  background: #c2c2c0;
  font-family: Georgia, serif;
  font-size: 14px;
  padding: 6px 10px;
  color: #3e2b23;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);

}



/* Checkbox */
.inpChangeState{
position: relative;
right: 40%;
}

.btnCheckbox {
  transform: scale(1.1);
  margin: 6px 0;
}

.containerOptUptdates {
  width: 100%;          
  margin-top: 5%; 
  margin-left: 10%;
  display: grid; 
  font-family: Georgia, serif;
  font-size: 14px;
  
}


.lbHome,
.lbFavorites{
  font-weight: bold;
  color: #f0eeee;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}



/*btn Checkbox book changed*/
.btnCheckboxChanged{
    margin: 10px;
    }   
    .lblCheckboxChanged{
        display: inline-block;
        width: 55px;
        height: 30px;
        background-color: #6d6d6d;
        border-radius: 100px;
        position: relative;
        cursor: pointer;
    }
    #btnCheckboxChanged:checked~.lblCheckboxChanged {
        background-color: rgb(206, 203, 14);
    }
    
    
    .lblCheckboxChanged:after{
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    border-radius: 100px;
    top: 4px;
    left: 5px;  
    transition: 0.3s;
    }
    #btnCheckboxChanged:checked~.lblCheckboxChanged:after {
        left: 28px;
    }
    .btnCheckboxChanged{
        position: relative;
        left: 25px;
        opacity: 0.1;    
        z-index: 1;
        bottom: 10px;
    }
    