
    .TitleNewsBooks{
      width: 96%;
      color: rgb(255, 255, 255);
      text-shadow: 2px 2px 4px rgb(0, 0, 0);
      font-size: 23px;
      padding: 15px;
    
      background-color: #8B4513;
      border: 7px ridge rgba(200, 60, 0, 0.831);
      box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.984);
      display: grid;
      justify-content: center;
      align-items: center; 
    
    }
    .searchAllDiv{
        box-shadow:   5px 5px 15px rgba(0, 0, 0, 0.904);
        border: 5px ridge rgb(26, 9, 1);
        background-color: #8B4513;
        padding: 10px;
        margin: 25px;
        width: 90%;

    }
    .barraSearch{
      width: 80%;
      box-shadow:  5px 5px 15px rgb(183, 85, 0);
      border-color: #632b05;
      color: rgb(0, 0, 0);
      background-color: rgb(237, 247, 195);
      font-family: 'Times New Roman', Times, serif;


  }
    .containerNewsBooks{
       width: 80%;
       border-style: ridge;

        color: #FAF3E0;
        border-style: groove;
        margin: 25px auto;
        padding: 25px;
        border-width: 7px;
        border-color: #393838;
        background-color: #8B4513;
        display: grid;
        justify-content: center;
        box-shadow: inset 5px 5px 15px rgba(49, 1, 1, 0.774);
    }
    .containerBook{
        height: auto;
        padding: 35px;
        margin: 45px;
        background-color: #070a00;
        border-color: rgba(255, 230, 0, 0.858);

        box-shadow: 5px 5px 15px rgba(248, 217, 170, 0.763);
        
        color: rgb(234, 250, 161);
        display: flex;           
        flex-direction: column;
        align-items: center;                            /* verticalmente */
        width: 77%;    
        position: relative; right: 45px;
        border-radius: 15px;
    }
    .btnEdit{
      margin: 10px;
      font-size: 13px;
      background-color: rgb(5, 0, 23);
      color: rgb(255, 255, 255);
      border-style: ridge;
      border-radius: 5px;
      border-width: 3px;
      border-color: rgba(140, 140, 140, 0.788);
    }
    .btnEdit:hover{
      border-color:rgba(3, 213, 167, 0.902) ;
      background-color:rgb(17, 11, 19) ;
      color:rgba(3, 213, 167, 0.902) ;
    }
    .btnDelete{
        margin: 10px;
        font-size: 13px;
        background-color: rgb(5, 0, 23);
        color: rgb(255, 255, 255);
        border-style: ridge;
        border-radius: 5px;
        border-width: 3px;
        border-color: rgba(140, 140, 140, 0.788);
    }
    .btnDelete:hover{
      border-color:rgba(213, 3, 3, 0.902) ;
      background-color:rgb(17, 11, 19) ;
      color:rgb(236, 1, 1);
    }
   
    .BTNEnviar{
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #d7e8e0;
      background-color: rgb(27, 27, 27);
      border-color: rgb(73, 67, 67);
      border-width: 3px;
      border-radius: 15px;
      margin: 7px;
      padding: 2px;
      width: 12%;   
    }
    .BTNEnviar:hover{
      color: rgb(208, 255, 19);
      border-color: rgb(108, 108, 108);
      background-color: rgb(30, 29, 29);
    }
    .inpChangeState{
     height: 10px;
     width: 10px;

    }
 
    
