.AllContainer{
    margin: 55px;
    }
    .TitleNewsBooks{
    border-style: ridge;
    border-width: 9px;
    border-color: rgba(0, 2, 35, 0.648);
    color: rgba(0, 0, 0, 0.932);
    background-color: rgba(93, 170, 206, 0.482);
    text-shadow: 2px 2px 4px rgba(23, 3, 243, 0.783);
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
    justify-content: center;
    font-size: 20px;
    }
    .searchAllDiv{
        border-style: groove;
        border-width: 5px;
        border-color: rgb(62, 3, 121);
        padding: 10px;
        margin: 25px;
        width: 95%;
        position: relative; left: 2px;
        border-radius: 15px;

    }
    .containerNewsBooks{
        border-style: ridge;
        border-width: 7px;
        border-color: rgba(0, 1, 51, 0.699);
        list-style: none;
    }
    .containerBook{
     
        height: auto;
        padding: 25px;
        margin: 60px;
        background-color: #fff;
        border: 1px solid #ffffff;
        box-shadow: 5px 5px 15px rgba(32, 0, 82, 0.945);
        font-family: 'Times New Roman';
        color: rgba(13, 7, 66, 0.879);
    
        padding: 15px;
        margin: 35px;
        
    
        
    }
    .btnEdit{
    margin: 10px;
    font-size: 13px;
    background-color: rgb(20, 2, 39);
    border-style: ridge;
    border-radius: 5px;
    border-width: 3px;
    border-color: rgba(62, 36, 139, 0.628);
    color: aqua;
    }
    .btnEdit:hover{
      border-color:rgba(83, 192, 231, 0.902) ;
      background-color:rgb(17, 11, 19) ;
      color:rgba(221, 255, 0, 0.801);
    }
    .btnDelete{
        margin: 10px;
        font-size: 13px;
        background-color: rgb(20, 2, 39);
        color: aqua;
        border-style: ridge;
        border-radius: 5px;
        border-width: 3px;
        border-color: rgba(33, 1, 130, 0.628);
    }
    .btnDelete:hover{
      border-color:rgba(83, 192, 231, 0.902) ;
      background-color:rgb(17, 11, 19) ;
      color:rgb(236, 1, 1);
    }
    .barraSearch{
        width: 90%;
    }
    .BTNEnviar{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(193, 218, 219);
        background-color: rgb(7, 74, 134);
        border-color: rgb(8, 7, 66);
        margin: 10px;
    }
    .BTNEnviar:hover{
        color: rgb(235, 255, 11);
        background-color: rgb(49, 3, 95);
    }
    .btnExchange{
      margin: 10px;
      font-size: 13px;
      background-color: rgb(20, 2, 39);
      color: aqua;
      border-style: ridge;
      border-radius: 5px;
      border-width: 3px;
      border-color: rgba(33, 1, 130, 0.628);
    }
    .btnExchange:hover{
      border-color:rgba(83, 192, 231, 0.902) ;
      background-color:rgb(17, 11, 19) ;
      color:rgb(0, 184, 141);
    }
    
