.TituloForm{
    width: 97.4%;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 33px;
    padding: 15px;
    border-color: #000013;
    text-shadow: 2px 2px 4px rgba(23, 3, 243, 0.783);
    background-color: rgba(184, 232, 254, 0.884);
    display: grid;
    justify-content: center;
    border: 1px solid #84daff;
    box-shadow: 5px 5px 15px rgba(65, 2, 167, 0.984);

}
.FormContainer{
    width: 40%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(19, 2, 80);
    border-style: ridge;
    margin: 35px auto;
    padding: 45px;
    border-width: 6px;
    border-color: #01010f;
    background-color: rgba(255, 255, 255, 0.642);
    display: grid;
    justify-content: center;
    position: relative; left: 3px;
    box-shadow: 5px 5px 15px rgba(9, 9, 124, 0.984);

}
.BTNRegister{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    background-color: rgba(112, 181, 237, 0.845);
    border-color: rgb(2, 24, 73);
    border-width: 3px;
    margin: 5px auto;
    padding: 2px;
    border-radius: 5px;
    position: relative; left: 34%;
}
.BTNRegister:hover{
    color: rgb(255, 251, 14);
    background-color: rgb(17, 8, 139);
}   
.LinkLogIn{
  
    display: grid;
    justify-content: center;
    position: relative; 

    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.inpRegist{
    text-align: center;
    align-items: center;
    padding: 5px;
}