.titleHeader{
    text-shadow: 2px 2px 4px rgba(39, 22, 226, 0.884);
    font-size: 55px;
    display: grid;
    justify-content: center;
    position: relative; left: 23px;
    
}
.TituloBarra{
border-style: ridge;
border-width: 5px;
border-color: rgb(3, 3, 55);
}
.LinksHeader{
    padding: 13px;
    margin: 11px;
    background-color: rgb(193, 248, 255);
    border-radius: 3px;
    border-style: ridge;
    border-width: 3px;
    color: rgb(0, 0, 0);
    border-color: rgb(9, 100, 229);
    position: relative; left: 22%;

}

.LinksHeader:hover{
    color: rgba(4, 121, 255, 0.947);
    border-color: rgb(0, 0, 0);
} 