.titleHeader{
    color: #311401;
    text-shadow: 2px 2px 4px rgb(255, 251, 0);
    font-size: 70px;

    
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    
    display: flex;           
    flex-wrap: wrap;                /* Wrap: ayuda al ajuste de elementos en múltiples líneas */
    justify-content: center;              
    align-items: center;                            /* verticalmente */
    width: 100%;                        /* Hace que se ajuste al ancho de la pantalla */
  
    
}
.TituloBarra{
border-style: ridge;
border-width: 7px;
border-color: #642b00;
display: flex;           
flex-wrap: wrap;                /* Wrap: ayuda al ajuste de elementos en múltiples líneas */
justify-content: center;              
align-items: center;                            /* verticalmente */
width: 100%;                        /* Hace que se ajuste al ancho de la pantalla */

}
.containerLinksHdr{
    display: flex;           
    flex-wrap: wrap;                /* Wrap: ayuda al ajuste de elementos en múltiples líneas */
    justify-content: center;              
    align-items: center;                            /* verticalmente */
    width: 100%;                        /* Hace que se ajuste al ancho de la pantalla */
  
}
.LinksHeader{
    padding: 13px;
    margin: 11px;
    font-size: 17px;
    background-color: #8B4513;
    border-radius: 3px;
    border-style: ridge;
    border-width: 4px;
    color: rgb(245, 245, 245);
    border-color: #130800;

}

.LinksHeader:hover{
    color: rgb(214, 241, 60);
    border-color: #130800;
} 