.containerTitleRegister{
    
    display: flex;
    justify-content: center; /* Alinea horizontalmente */

}
.TituloRegister {
  width: 55%;
  text-align: center;
  font-size: 38px;
  border: 5px, #fffd74;
  font-weight: bold;
  color: #000000;
  padding: 18px;
  background: linear-gradient(115deg, #000000 0%, #aa840870 50%, #000000 100%);
  border-style:  double;
  border-radius: 25px 25px 0 0;
  letter-spacing: 2px;
  text-shadow: 3px 3px 10px rgb(0, 0, 0);
  box-shadow:  0px 8px 20px rgba(0,0,0,0.8);
}

.FormContainer{
    width: 60%;
    color: #FAF3E0;
    border-style: groove;
    font-size: 19px;
    margin: 35px auto;
    padding: 45px;
    border-width: 6px;
    border-color: #020000;
     background: linear-gradient(145deg, #000000 0%, #3e1f0a 50%, #000000 100%);
    justify-content: center;
    box-shadow: 5px 5px 15px rgba(49, 1, 1, 0.774);

}
.BTNRegister{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #f7ff88;
    background-color: rgb(3, 2, 2);
    border-color: rgb(245, 253, 136);
    border-width: 3px;
    margin: 5px auto;
    padding: 4px;
    border-radius: 15px;
    display: grid;           
    flex-wrap: wrap;                /* Wrap: ayuda al ajuste de elementos en múltiples líneas */
    justify-content: center;              
    align-items: center;                            /* verticalmente */
    width: 15%;                        /* Hace que se ajuste al ancho de la pantalla */
  
}
.BTNRegister:hover{
    color: rgba(255, 253, 124, 0.897);
    border-color: rgb(248, 250, 135);
    background-color: rgb(54, 38, 38);
    
}   
.ContainerLinkLogIn{
           
    text-align: center;                                            
    font-family: monospace;
    color: rgb(102, 59, 10);
    font-size: 14px;
}
.LinkLogIn{
color: rgb(62, 63, 63);
}

.inpRegist{
    text-align: center;
    align-items: center;
    
    padding: 9px;
}
.inputText{
    background-color: #e8f5b191;
    border: rgb(0, 0, 0);
    border-radius: 5px;
    color: black;
    height: 25px;
    width: 35%;
    text-align: center;
    margin: 5px;
}
.inpCheckboxTC{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 7px;
}


.BtnInfoModal{
    display: grid;
    background-color: #000013;
    color: rgba(253, 255, 161, 0.911);
}