.TituloForm{
    width: 60%;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 37px;
    border-style: ridge;
    border-width: 11px;
    padding: 13px;
    border-color: #010114ea;
    text-shadow: 2px 2px 4px rgba(23, 3, 243, 0.783);
    background-color: rgba(93, 170, 206, 0.482);
    display: grid;
    justify-content: center;
    position: relative; left: 16%;

}
.FormContainer{
    width: 35%;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(10, 1, 43, 0.925);
    border-style: ridge;
    margin: 10px;
    padding: 15px;
    border-width: 8px;
    border-color: #010114ea;
    background-color: rgba(91, 223, 230, 0.642);
    display: grid;
    justify-content: center;
    position: relative; left: 27%;
}
.BTNRegister{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.779);
    background-color: rgb(64, 137, 196);
    border-color: rgba(0, 0, 0, 0.829);
    border-width: 3px;
    margin: 15px;
   
}
.BTNRegister:hover{
    color: rgb(235, 255, 11);
    background-color: rgba(35, 88, 76, 0.854);
}
.LinkLogIn{
  
    display: grid;
    justify-content: center;
    position: relative; right: 2%;

    color: rgba(45, 0, 227, 0.724);
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}