.cont-modal-error{
    display: grid;
    position: relative; 
    text-align: center;
    font-family: monospace;
    font-size: 7px;
    top: 40%;
    padding: 3px;
    width:50% ;
    color: rgba(247, 20, 8, 0.973);
    border-radius: 5px;
    background-color: #1b0000;
    border: 3px solid #555555;
    box-shadow: inset 5px 5px 15px rgba(88, 2, 13, 0.945);
    margin: 0 auto ;
    

}
.cont-modal-error:hover{
background-color: rgb(0, 0, 0);
border: solid rgb(134, 3, 3);
box-shadow: 0px 0px 15px rgb(223, 8, 8);
color: rgba(247, 20, 8, 0.973);
text-shadow: 2px 2px 4px rgb(185, 2, 2);
    border-radius: 5px;
}