.cont-modal-error{
    position: relative;
    text-align: center;
    font-family: monospace;
    font-size: 6px;
    top: 40%;
    left: 38%;
    width: 20% ;
    background-color: #fff;
    border: 1px solid #310101;
    box-shadow: 5px 5px 15px rgba(88, 2, 13, 0.945);

}
.cont-modal-error:hover{
background-color: rgba(185, 0, 0, 0.874);
border: 1px solid #3b0000e0;
box-shadow: 5px 5px 15px rgba(141, 0, 0, 0.945);
}