.Term-Cond-Modal{
    position: relative;
    text-align: center;
    font-family: monospace;
    font-size: 6px;
    top: 40%;
    left: 40%;
    width: 20% ;
    background-color: #fff;
    border: 1px solid #310101;
    box-shadow: inset 5px 5px 15px rgba(88, 2, 13, 0.945);

}
.Term-Cond-Modal:hover{
background-color: rgb(211, 14, 14);
border-style: groove;
border: 3px solid rgb(72, 2, 2);
box-shadow: 5px 5px 15px rgb(129, 0, 0);
}